<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ .Site.Params.description }}</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ .Site.Params.description }}">
	<meta name="author" content="{{ .Site.Params.author }}">
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

	<!-- FontAwesome JS-->
	<script defer src="assets/fontawesome/js/all.min.js"></script>

	<!-- Theme CSS -->
	<link id="theme-style" rel="stylesheet" href="assets/css/devresume.css">
</head>

<body>
	<div class="main-wrapper">
		<div class="container px-3 px-lg-5">
			<article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">
				<div class="resume-header">
					<div class="row align-items-center">
						<div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
							<h2 class="resume-name mb-0 text-uppercase">{{ .Site.Params.profile.name }}</h2>
							<div class="resume-tagline mb-3 mb-md-0">{{ .Site.Params.profile.tagline }}</div>
						</div>
						<!--//resume-title-->
						<div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
							<ul class="list-unstyled mb-0">
								<li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg mr-2"></i><a
										class="resume-link" href="mailto:rlambert85@gmail.com">rlambert85@gmail.com</a>
								</li>
								<li class="mb-2"><i class="fas fa-globe fa-fw fa-lg mr-2"></i><a class="resume-link"
										href="https://rob.lolbert.com">rob.lolbert.com</a></li>
								<li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg mr-2"></i>Remote, New York
								</li>
							</ul>
						</div>
						<!--//resume-contact-->
					</div>
					<!--//row-->

				</div>
				<!--//resume-header-->
				<hr>
				<div class="resume-intro py-3">
					<div class="media flex-column flex-md-row align-items-center">
						<img class="resume-profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto"
							src="assets/images/it-me.png" alt="image">
						<div class="media-body text-left">
							<p class="mb-0">{{ .Site.Params.summary.summary | markdownify }}</p>
						</div>
						<!--//media-body-->
					</div>
				</div>
				<!--//resume-intro-->
				<hr>
				<div class="resume-body">
					<div class="row">
						<div class="resume-main col-12 col-lg-8 col-xl-9 pr-0 pr-lg-5">
							<section class="work-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Work Experiences</h3>

								{{ range .Site.Params.jobs.list }}
								<div class="item mb-3">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-7 mb-2 mb-md-0">{{ .position }}
										</h4>
										<div
											class="item-meta col-12 col-md-6 col-lg-5 text-muted text-left text-md-right">
											{{ .company }} | {{ .dates }} </div>
									</div>
									<div class="item-content">
										<p>{{ with .details }}{{ . | markdownify }}{{ end }}</p>
									</div>
								</div>
								<!--//item-->
								{{ end }}
							</section>
							<!--//work-section-->


							<section class="project-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Personal Projects</h3>
								<div class="item mb-3">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Chipate Emulator
										</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Open Source</div>

									</div>
									<div class="item-content">
										<p><a href="https://github.com/esoterick/chipate">Chipate</a> is a simple <a href="https://en.wikipedia.org/wiki/CHIP-8">CHIP-8</a> emulator I created as a quick introduction in to building emulators. I also used this project to help me learn the Rust Programming language.</p>
									</div>
								</div>
							</section>
							<!--//project-section-->
						</div>
						<!--//resume-main-->
						<aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
							<section class="skills-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Skills</h3>
								<div class="item">
									<h4 class="item-title">Professional</h4>
									<ul class="list-unstyled resume-skills-list">
										<li class="mb-2">Effective communication</li>
										<li class="mb-2">Team player
										<li>
										<li class="mb-2">Strong problem solver</li>
									</ul>
								</div>
								<!--//item-->
								<div class="item">
									<h4 class="item-title">Technical</h4>
									<ul class="list-unstyled resume-skills-list">
										{{ range .Site.Params.skills.list }}
										<li class="mb-2">{{ .skill }}</li>
										{{ end }}
									</ul>

								</div>
								<!--//item-->
							</section>
							<!--//skills-section-->
							<section class="education-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Education</h3>
								<ul class="list-unstyled resume-education-list">
									{{ range .Site.Params.education.list }}
									<li class="mb-3">
										<div class="resume-degree font-weight-bold">{{ .degree }}<div>
										<div class="resume-degree-org text-muted">{{ .college }}</div>
									</li>
									{{ end }}
								</ul>
							</section>
							<!--//education-section-->
							<section class="education-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Certificates</h3>
								<ul class="list-unstyled resume-awards-list">
									{{ range .Site.Params.certs.list }}
									<li class="mb-3">
										<div class="resume-degree font-weight-bold">{{ .cert | markdownify }}<div>
										<div class="resume-degree-org text-muted">{{ .location }}</div>
									</li>
									{{ end }}
								</ul>
							</section>
							<!--//education-section-->
							<section class="skills-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Interests</h3>
								<ul class="list-unstyled resume-interests-list mb-0">
									{{ range .Site.Params.interests.list }}
									<li class="mb-2">{{ .interest }}</li>
									{{ end }}
								</ul>
							</section>
						</aside>
						<!--//resume-aside-->
					</div>
					<!--//row-->
				</div>
				<!--//resume-body-->
				<hr>
				<div class="resume-footer text-center">
					<ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
						<li class="list-inline-item mb-lg-0 mr-3"><a class="resume-link" href="https://github.com/esoterick"><i
									class="fab fa-github-square fa-2x mr-2" data-fa-transform="down-4"></i><span
									class="d-none d-lg-inline-block text-muted">github.com/esoterick</span></a></li>
						<li class="list-inline-item mb-lg-0 mr-3"><a class="resume-link" href="https://www.linkedin.com/in/rlambert85/"><i
									class="fab fa-linkedin fa-2x mr-2" data-fa-transform="down-4"></i><span
									class="d-none d-lg-inline-block text-muted">linkedin.com/in/rlambert85</span></a></li>
						<li class="list-inline-item mb-lg-0 mr-lg-3"><a class="resume-link" href="https://twitter.com/rlambert"><i
									class="fab fa-twitter-square fa-2x mr-2" data-fa-transform="down-4"></i><span
									class="d-none d-lg-inline-block text-muted">@rlambert</span></a></li>
					</ul>
				</div>
				<!--//resume-footer-->
			</article>

		</div>
		<!--//container-->

		<footer class="footer text-center py-4">
			<!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
			<small class="copyright text-muted">Designed with <i class="fas fa-heart"></i> by <a class="theme-link"
					href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
		</footer>

	</div>
	<!--//main-wrapper-->


</body>

</html>